{% extends 'base_generic.html' %}
{% block content %}
    <h1>{{ room_data.name }}</h1>
    <h3>Created By: {{ room_data.creator }}</h3>

    <h4>Songs:</h4>
    <ul>
        {% for video in current_videos %}
            <li>{{ video.video_name }} - {{ video.uploader }} Rank: {{ video.rank }}</li>

        {% endfor %}
    </ul>
    {% if form %}
    <form id=''method="post" action="{% url 'add-video' pk=room_data.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {% endif %}
{% endblock %}