{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    {% csrf_token %}

    <script>
        var player;
        var add_url = "{% url 'add-video' pk=room_data.pk %}";
        var end_video_url = "{% url 'end-video' pk=room_data.pk %}";
    </script>


    <div class="col-md-8" style="position:relative">
        <div class="container-fluid">


            <div class="title"  >
                <h1 style="display:inline; vertical-align: bottom;">{{ room_data.name }}</h1>
                 <p style="display:inline; vertical-align: bottom;">Created By: {{ room_data.creator }}</p>
            </div>
            <br>

            <div class="search-and-results">

                     <div id="buttons">
                         <form class ="form-horizontal" id="searchform" role="form">
                             <div class="input-group">
                                 <input id="query" class="form-control" type="search" placeholder="Search YouTube for a video to add..." size="30"/>
                                 <script>

                                     </script>
                                 <span class="input-group-btn">
                                    <button id="search-button"  type ='button' class="btn btn-search btn-default" onclick="keyWordsearch()">
                                        <span class="glyphicon glyphicon-search"></span>

                                     </button>

                                 </span>
                             </div>
                         </form>
{#                        <label>#}
{#                            <input id="query" type="text" placeholder="Search YouTube for a video to add..." size="30"/>#}
{#                            <button id="search-button"  class="btn btn-search btn-default" onclick="keyWordsearch()" style="padding:0; line-height:1">#}
{#                                <span class="glyphicon glyphicon-search"></span>#}
{##}
{#                            </button>#}
{##}
{#                        </label>#}
                    </div>
    {#                <div id="container" >style="height: 200px; overflow: auto">#}
        {#                <h1>Search Results</h1>#}
{#                    <div id="results_div" class="border-top-5" style="display: inline-block;">#}

                        <div id="results" class="list-group rounded-bottom hidden" style="display: inline-block; position: absolute; z-index:1000; max-height:400px; overflow: auto; border-style: solid; border-width:1px; border-bottom-left-radius:25px; border-bottom-right-radius:25px"></div>


{#                    </div>#}



{#                </div>#}

            </div>

            <div class="col-md-12" style="position:fixed; margin-top:5px; margin-left:0; padding-left:0" >

                    <div id="player" ></div>

            </div>









        <br>


        {% if not current_video %}
            <script>$('#player').hide();</script>
        {% endif %}


            </div>
    </div>

    <div class="col-md-4">
        <div class="video_and_queue">
            {% include 'partyplay/video_and_queue.html' %}
        </div>
        <div class="message"></div>
    </div>





  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady">  </script>


{% load static %}

{#<script type="text/javascript" src="{{ STATIC_URL }}scripts/csrf.js"></script>#}
<script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/csrf.js' %}"></script>

    {% include 'partyplay/submitjs.html' %}








{% endblock %}