{% extends 'base_generic.html' %}
{% block content %}
    {% csrf_token %}
    <script>
        var player;
        var add_url = "{% url 'add-video' pk=room_data.pk %}";
        var end_video_url = "{% url 'end-video' pk=room_data.pk %}";
    </script>


    <h1>{{ room_data.name }}</h1>
    <h3>Created By: {{ room_data.creator }}</h3>


        <h4>Currently Playing</h4>


    <div id="player"></div>

    {% if not current_video %}
        <script>
            $('#player').hide();
        </script>


    {% endif %}


    <div class="video_and_queue">
        {% include 'partyplay/video_and_queue.html' %}
    </div>
    <div class="message"></div>




    <div id="buttons">
    <label> <input id="query" type="text"/><button id="search-button"   onclick="keyWordsearch()">Search</button></label>
    </div>
    <div id="container">
      <h1>Search Results</h1>
      <ul id="results"></ul>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady">  </script>


{% load static %}

{#<script type="text/javascript" src="{{ STATIC_URL }}scripts/csrf.js"></script>#}
<script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/csrf.js' %}"></script>

    {% include 'partyplay/submitjs.html' %}








{% endblock %}