<script type="text/javascript">

    $.ajaxSetup({
        cache: false
    });

    var current_vid_pk;
    var queryTimer;

    {% if current_video %}

        current_vid_pk = {{ current_video.pk }}

    {% else %}
        current_vid_pk = null;
        queryTimer = setInterval(send_end_video, 10000 );

    {% endif %}







    $('#post-form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!");
        add_video();
    });





    function video_timer(time){
        console.log('video timer: ' + time);
        setTimeout(send_end_video, time);

        var x = 0;
        var interval_id = setInterval(function(){
            console.log(time);
            time=time-1000;
            if(time <= 0){
                window.clearInterval(interval_id);
                x=0
            }

        }, 1000)
    }

    function send_end_video(){
        console.log("sending_video_end_data");
        $.ajax({
            url : '{% url 'end-video' pk=room_data.pk %}',
            type :"POST",
            data: {
                'vid_pk': current_vid_pk
            },
            dataType:'json',

            success : function(data) {
                console.log("success" + data['time_until_next']);


                current_vid_pk = data['current_vid_pk'];

                if(current_vid_pk != null){
                    $('.video_and_queue').html(data['html']);


                    player.loadVideoByID({
                       videoID: 'bHQqvYy5KYo'
                    });

                    video_timer(data['time_until_next']);
                    window.clearInterval(queryTimer)
                }else{
                    $('.video_and_queue').html(data['html']);
                    window.clearInterval(queryTimer);
                    queryTimer = setInterval(send_end_video, 10000 );
                }


            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }


        })
    }



    function add_video(){
        console.log("add_video is working");


        $.ajax({
            url : '{% url 'add-video' pk=room_data.pk %}',
            type : "POST",
            data: {'name': $('#id_video_name').val(), 'url': $('#id_video_url').val() },

            success : function(html) {
                $('#id_video_name').val(''); // remove the value from the input
                $('#id_video_url').val('')
                console.log("success"); // another sanity check
                $('.table_body').html(html)
                if(current_vid_pk == null){
                    send_end_video()
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        })





    }



</script>
