
{#    <p>{{ current_video.title }} - {{ current_video.uploader }} Rank: {{ current_video.voters.all.count }}</p>#}




    <div id='video_list' >
        <h3 style="margin-top:0; padding-left:8px">Up Next</h3>
        <div style="height:350px; overflow-x: hidden; overflow-y: auto;" >
        <table class="table table-striped"  >

            <tbody class="table_body">
                {% include 'partyplay/queue_body.html' %}
            </tbody>
        </table>
        </div>

</div>




{#Vote Button script#}
<script>
        $('#video_list').on('click', '.button-item', function(){
        var $this = $(this);
        var v_id =  $this.attr('id').substring($this.attr('id').indexOf('-')+1);

        $('.table_body').html('').load("/partyplay/vote/?vid_pk=" + v_id
        );
    });
</script>



