{% if current_video %}
    <p>{{ current_video.videoID }} - {{ current_video.uploader }} Rank: {{ current_video.voters.all.count }}</p>
    <p>next_video_time = {{ time_until_next }}</p>



    <div id='video_list'>
    <h4>Queue:</h4>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Uploader</th>
            <th>Votes</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table_body">
            {% include 'partyplay/queue_body.html' %}
        </tbody>
    </table>

</div>
{% else %}
    <p>No videos in the queue, Upload your own!</p>
{% endif %}



{#Vote Button script#}
<script>
        $('#video_list').on('click', '.button-item', function(){
        var $this = $(this);
        var v_id = $this.attr('id').split('-')[1];
        console.log(v_id);

        $('.table_body').html('').load("/partyplay/vote/?vid_pk=" + v_id
        );
    });
</script>



