<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>PartyPlay</title>{% endblock %}
    {% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="REPLACE WITH YOUR OWN KEYWORDS HERE, AND HERE, AND HERE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.css">#}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


  <!-- Add additional CSS in static file -->
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/sidebar.css'%}" rel="stylesheet">
</head>


<body>
<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>


<div class="container-fluid" id="wrapper">
    <div class="row visible-xs visible-sm" id="mobile-bar" >


                <a href="{% url 'rooms' %}"><h3 id="sidebar-title">PartyPlay</h3></a>

                {% if user.is_authenticated %}
                    <a href="{% url 'user-profile' %}" style="color: #ffffff;">{{ user.get_username }}</a> -

                    <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                  {% else %}
                    <a href="{% url 'login'%}?next={{request.path}}">Login</a>
                {% endif %}

    </div>
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}

        <div id="sidebar-wrapper" class="visible-md visible-lg visible-xl">
            <ul class="sidebar-nav">
                <li><a href="{% url 'rooms' %}"><h3 id="sidebar-title">PartyPlay</h3></a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'user-profile' %}">{{ user.get_username }}</a></li>

                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                  {% else %}
                     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                {% endif %}


            </ul>
        </div>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>
</div>


</body>








</html>