.upvote-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

body {
    padding-left: 0;
    margin-left: 0;
    border:0
}


@media (max-width: 640px)
{
    #sidebar-wrapper
    {
        display: none;
    }
    #videoplayer
    {
        display: none;
    }

}
@media (min-width: 640px)
{
    #videodata
    {
        position:fixed;
    }
}


